body {
  background: rgb(248, 207, 152);
}

body input:focus {
  border: 0px;
  outline: 0px;
}

body button:hover {
  cursor:pointer;
}

.todo-list__main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.todo-list__content-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.todo-list__task-container {
  display: flex;
  align-items: center;
}

.todo-list__text-task {
  font-size: 18px;
  color: white;
  margin-left: 8px;
}

.todo-list__content-page button {
  margin-left: 10px;
}

.todo-list__done-text {
  color: rgba(255, 255, 255, 1);
  text-decoration: line-through;
}

.todo-list__edit, .todo-list__delete, .todo-list__done, .todo-list__cancel {
  display: flex;
  flex-direction: row;
  border: 0px;
  height: 24px;
  width: 24px;
  background: none;
}

.todo-list__hide {
  display: none;
}

.todo-list__task-container, .unchecked {
  display: flex;
  flex-direction: row;
  border: 0px solid black;
  border-radius: 20%;
  padding: 10px 15px;
  margin-bottom: 10px;
  background: rgb(241, 58, 58);
}

.checked {
  background: rgb(21, 185, 21);
}

.todo-list__task-container img:hover {
  cursor: pointer;
}